$primary-color: #223843;
$secondary-color: #EFF1F3;
$done-color: #c2c3c47a;
$border-color: #89959B;
$highlight-color: #D8B4A0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-color: $border-color;
    scrollbar-width: thin;
}

body {
    background-color: $primary-color;

    &::-webkit-scrollbar {
        width: 0.2rem;
    }

    &::-webkit-scrollbar-track {
        background-color: $primary-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $border-color;
        border-radius: 0.5rem;
    }
}

.container {

    padding: 0 2rem;

    .circle-element {
    
        .circles {
            position: absolute;
            top: -10%;
            left: -10%;
            width: 50%;
            max-width: 18rem;
            height: auto;
        }

    }
}

.main {
    padding: 11rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .alert {
        width: 80%;
        max-width: 25rem;
        text-align: center;
        color: aliceblue;
        padding: 1rem;
        margin-bottom: 2rem;
        border: 0.2rem solid #ff9c9c;
        border-radius: 0.5rem;
        font-family: 'Poppins', sans serif;
    }

    .none {
        display: none;
    }

    .fullDate {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;

        .islamicDateDisplay {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            font-family: 'Poppins', sans-serif;
            align-items: center;
            font-size: 2.1rem;
            text-align: center;
            color: $highlight-color;
        }

        .dayDisplay {
            font-family: 'Poppins', sans-serif;
            font-size: 1.2rem;
            color: $highlight-color;
        }
    }


    .timings {
        display: flex;
        flex-flow: column;
        gap: 2rem;
        width: 80%;
        max-width: 25rem;
        color: $secondary-color;
        
        .salah-time-individual-contain {
            display: flex;
            flex-direction: column;
            border: 0.1rem solid $border-color;
            border-radius: 0.4rem;
            padding: 1.5rem;
            gap: 0.5rem;

            .whichsalah {
                font-size: 1.5rem;
                font-family: 'Josefin Sans', sans-serif;
            }
            
            .time {
                font-size: 3rem;
                align-self: flex-end;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
            }

        }

        .done {
            color: $done-color;
            border-color: $done-color;
        }

        //:not(.pending) ~ .pending.first, .reset
        .pending.first, .reset {
            color: $highlight-color;
            border-color: $highlight-color;
        }
    }
}