$primary-color: #223843;
$secondary-color: #EFF1F3;
$border-color: #89959B;
$highlight-color: #D8B4A0;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
}

.container {
    padding: 0 2rem;
}

.main {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .timings {
        display: flex;
        flex-flow: column;
        gap: 2rem;
        width: 80%;
        max-width: 25rem;
        color: $secondary-color;
        
        .salah-time-individual-contain {
            display: flex;
            flex-direction: column;
            border: 0.1rem solid $border-color;
            border-radius: 0.4rem;
            padding: 1.5rem;
            gap: 0.5rem;

            .whichsalah {
                font-size: 1.5rem;
                font-family: 'Josefin Sans', sans-serif;
            }
            
            .time {
                font-size: 3rem;
                align-self: flex-end;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
            }

        }
        //:not(.pending) ~ .pending.first, .reset
        .pending.first, .reset {
            color: $highlight-color;
            border-color: $highlight-color;
        }
    }
}